<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/passenger-dashboard/menu/trains'></ion-back-button>
    </ion-buttons>
    <ion-title>TRANSFER BOOKING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-padding-bottom">
    <ion-label>Co-Travellers</ion-label>
    <ion-select [(ngModel)]='selected'>
      <ion-select-option *ngFor="let c of co_passengers" [value]="c">{{ c }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="change()" size='block'>Transfer</ion-button>
</ion-content>
