<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tc-dashboard/menu/home'></ion-back-button>
    </ion-buttons>
    <ion-title>Train Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <h3 *ngIf="coachData && coachData[0]">Coaches</h3>
        <ion-button *ngFor="let coach of coaches" expand="block" fill="outline" (click)="onSelectCoach(coach.name)">{{coach.name}}</ion-button>
      </ion-col>
      <ion-col *ngIf="coachData && coachData[0]" size="8" style="padding:2em">
        <h3>Coach {{ coachData[0].name }}</h3>
          <ion-row>
            <ion-col size='3' *ngFor="let seat of coachData[0].seats" style="border: 1px solid black;" [ngStyle]="{'background-color': seat.occupied ? 'green' : 'yellow'}">{{ seat.number }}</ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>