<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ticket Collector</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar (ionChange)="check()" [(ngModel)]='search'></ion-searchbar>

<ion-card *ngFor="let train of trainsCopy">
  <ion-card-header>
    <ion-card-title>{{ train.name }} - {{ train.number }}</ion-card-title>
    <ion-card-subtitle>Duration : {{ train.durationMins }} miniutes</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button size='block' color="primary" (click)="onTrainClick(train._id)">Check Passengers</ion-button>
    <ion-button size='block' color="danger" (click)="onLocClick(train._id)">Update Location</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>