.active-item {
    border-left: 8px solid var(--ion-color-tertiary);
}

h2 {
    color: var(--ion-color-primary);
}

ion-footer {
  background: var(--ion-color-light) !important;
  color: var(--ion-color-primary) !important;
}